<configuration scan="true" scanPeriod="15 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{term} %X{state}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<logger name="io.netty" level="INFO"/>-->
    <!--<logger name="org.robotninjas.protobuf.netty.client" level="DEBUG"/>-->
    <!--<logger name="org.robotninjas.protobuf.netty.server" level="DEBUG"/>-->
    <!--<logger name="org.robotninjas.barge.state" level="DEBUG"/>-->
    <!--<logger name="org.robotninjas.barge.state.Leader" level="DEBUG"/>-->
    <!--<logger name="org.robotninjas.barge.state.Follower" level="DEBUG"/>-->
    <!--<logger name="org.robotninjas.barge" level="INFO"/>-->
    <!--<logger name="org.robotninjas.barge.rpc.RpcChannelFactory" level="DEBUG"/>-->
    <!--<logger name="org.robotninjas.barge.state.Leader$CommitResponseCollector" level="DEBUG"/>-->
    <!--<logger name="org.robotninjas.barge.RaftService" level="DEBUG"/>-->
    <logger name="org.robotninjas.barge.log.DefaultRaftLog" level="DEBUG"/>
    <logger name="org.robotninjas.barge.state.Context" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>